body {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
}
.main-content{
    flex: 0 1 75%;
    text-align: center;
}
.sidebar{
    flex: 0 1 25%;
    background: #808080;
   text-align: center;
}

#editor-panel {
    flex: 1;
}

    #editor-panel h2 {
        margin-top: 0;
    }

#editor {
    width: 800px;
    height: 600px;
    border-radius: 8px;
    border: 2px dashed #555;
    position: relative;
    background: #808080;
    overflow: hidden;
}

.block {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/Block.jpg");
    position: absolute;
}

.block.catapult {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/Catapult.png");
    position: absolute;
}

.block.pig {
    width: 100px;
    height: 100px; 
    background-size: contain;
    background-image: url("/images/Pig.webp");
    border-radius: 50%;
}

.block.bird {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-image: url("/images/Bird.webp");
    border-radius: 50%;
}
.block.slimblock {
    width: 100px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/Slimblock.jpg");
    position: absolute;
}